.show{
    display: block;
}
#addbox{
    display: block;
}
.headline{
  padding: 5% 0;
  margin: 0 auto;
  width: 50%;
}

form{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5%;
  background-color: #f8f8f8;
  padding: 5% 10%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

#listboxes{
    display: none;
}
table{
  width: 80%;
}
th{

}
td, thead, th, .total{
  text-align: center;
}
